/*

# R config
!/Documents
/Documents/*
!/Documents/.Rprofile
!/Documents/.Renviron

# vim
!_vimrc
!/vimfiles
/vimfiles/*
!/vimfiles/colors
!/vimfiles/plugin
!/vimfiles/snippets
!/vimfiles/syntax

# python
!/.config
/.config/*
!/.config/flake8

# MISC
!.emacs
!.virtualenv
!.psqlrc
!.octaverc
!.gitignore
!.bashrc
!.gitconfig
!hotkeys.ahk
